## Revisions (aka Versioning)

> To define the revision, use this code:

<%= partial('examples/GET_shell') %>

<%= partial('examples/GET_javascript') %>

Any time we make ‘breaking changes’ to the API, we release a new, timestamped revision of the API. Non-breaking changes don't trigger a new revision, and those changes are available in all versions of the API.

* A breaking change is anything that changes the existing structure of a response, e.g. the renaming of a field in a resource.
* Non-breaking changes are things like exposing new resource attributes or adding whole new endpoints.

Revisions are designated by timestamps in the format `YYYYMMDD`. We expect the revision to be included in all API requests to the server in a header that looks like the following: `Wanikani-Revision: <%= current_page.data.api_revision %>`.

See the [list of revisions and changelogs](<%= current_page.data.documentation_root_path %>) for more details.

<aside class="notice">
If you don't specify a revision, the API will default to the first revision: <a href="<%= current_page.data.documentation_root_path %>/<%= current_page.data.base_revision %>" title="View API revision 20170710 documentation"><%= current_page.data.base_revision %></a>.
</aside>
